*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: aquamarine;
}
h1{
    padding: 5vh;
}
img-container{
    border-color: black;
    display: grid;
}